@model IEnumerable<MvcMessageLogger.Models.User>

<h1>Users Stats</h1>

@if (Model.Any() != false)
{
    var orderedUsers = Model.OrderByDescending(u => u.Messages.Count());
    
    foreach (var user in orderedUsers)
    {
        if(user.Messages.Any() != false)
        {
            <ul class="scrollable-list list-group">
                <li><p>UserName: <strong>@user.Username </strong>| Count of Messages:  <strong>@user.Messages.Count() </strong> | Most Used Words:  <strong>@user.MostUsedWord(user) </strong> | Hour with Most Messages: <strong> @user.HourWithMostMessages(user)  </strong> | How many times "Coffee" is mentioned:  <strong>@user.CountOfCoffeeInMessages(user)</strong> </p></li>
            </ul>
        }
        else
        {
            <p> @user.Username has no messeges in database.</p>
        }
    }
}
else
{
    <p>No data available.</p>
}


<a href="/users"><button class="btn btn-secondary">Back</button></a>

